<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Section</title>
<link rel='stylesheet' href='bootstrap.min.css'/>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/ELibrary/login">eLibrary</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/ELibrary/AddLibrarianForm">Add Librarian</a></li>
        <li><a href="ViewLibrarian">View Librarian</a></li>
        <li><a href="LogoutAdmin">Logout</a></li>
       </ul>

    </div>
  </div>
</nav>

<h3>Add Librarian</h3>
  <form action="UpdateLibrarian" method="post" style="width:300px">
  <div class="form-group">
    <label for="name1">Name</label>
    <input type="text" class="form-control" name="name" id="name1" placeholder="Name" th:value="${librarian.name}"/>
    <input type="hidden" class="form-control" name="id" id="id" placeholder="id" th:value="${librarian.id}"/>
  </div>
  <div class="form-group">
    <label for="email1">Email address</label>
    <input type="email" class="form-control" name="email" id="email1" placeholder="Email" th:value="${librarian.email}"/>
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input type="password" class="form-control" name="password" id="password1" placeholder="Password" th:value="${librarian.password}"/>
  </div>  
  <div class="form-group">
    <label for="mobile1">Mobile Number</label>
    <input type="number" class="form-control" name="mobile" id="mobile1" placeholder="Mobile" th:value="${librarian.mobile}"/>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>

 <script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
</body>
</html>